.THIS html {
    background-color: #f1f1f1 !important;
}

.THIS .customButtonMenu {
    background-color: #f1f1f1 !important;
    
}

.THIS .READY {
    background-color: #369c6e !important;
    color: #fff;
    max-height: 80px;
}

.THIS .TALKING {
    background-color: #4bca81 !important;
    color: #fff;
    max-height: 80px;
}

.THIS .RESERVED {
    background-color: #ffb75d !important;
    color: #fff;
    max-height: 80px;
}

.THIS .NOT_READY {
    background-color: #d4504c !important;
    color: #fff;
    max-height: 80px;
}

.THIS .ERROR {
    background-color: #d4504c !important;
    color: #fff;
    max-height: 80px;
}
.THIS .LOGOUT {
    background-color: #d4504c !important;
    color: #fff;
    max-height: 80px;
}

.THIS .WORK {
    background-color: #ffb75d !important;
    color: #fff;
    max-height: 80px;
}

.THIS .HOLD {
    background-color: #d4504c !important;
    color: #fff;
    max-height: 80px;
}

.THIS .no_match_found {
    background-color: #DC143C !important;
    color: #fff; 
    max-height: 80px;
}

.THIS .match_found {
    background-color: #04844b !important;
    color: #fff; 
    max-height: 80px;
}
.THIS.hide {
    display: none;
}